install-arm64-20241210T113147Z.iso filter=lfs diff=lfs merge=lfs -text
livecd-stage1-arm64-20241210T113147Z.tar.xz filter=lfs diff=lfs merge=lfs -text
livecd-stage2-arm64-minimal-20241210T113147Z.tar.xz filter=lfs diff=lfs merge=lfs -text
